.header {
  padding-top: 25px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.72px;
}
.logo span {
  color: var(--accent-color);
}
.cart {
  color: var(--priority-elements-color);
  transition: color var(--transition-dur-and-func);
  cursor: pointer;
}
.cartBtn {
  border: none;
  padding: 0;

  cursor: pointer;
  background-color: transparent;
}
.actions {
  display: flex;
  align-items: center;
  gap: 14px;
}
.orderNowModal {
  width: 335px;

  height: 680px;
}
@media screen and (min-width: 768px) {
  .orderNowModal {
    width: 440px;
    height: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .cart:hover {
    color: var(--accent-color);
  }
}
