.form {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 24px;
}
.slider {
  margin: 0;
}
.slider > div {
  display: flex;
  right: 0;
}
@media screen and (min-width: 768px) {
  .from {
    margin-bottom: 32px;
  }
}
