.list {
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .list {
    width: 496px;
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .list {
    width: 782px;
    gap: 44px 16px;
  }
}
