.btn {
  padding: 10px 20px;
  margin-bottom: 48px;
  border: 1px solid var(--accent-color);

  font-size: 14px;

  color: var(--priority-text-color);
  border-radius: 12px;
  background-color: transparent;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
  cursor: pointer;
}
.orderNowModal {
  width: 335px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .orderNowModal {
    width: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .btn:hover {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }
}
