.btn {
  width: 148px;
  height: 41px;
  padding-left: 12px;
  padding-right: 12px;
  border: 0;
  margin-right: 14px;

  font-size: 14px;

  border-radius: 15px;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  transition: color var(--transition-dur-and-func);
  cursor: pointer;
}
.removeBtn {
  background-color: darkred;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 156px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .btn:hover {
    color: var(--accent-hover-text-color);
  }
}
