.content {
  width: 100%;
  padding: 40px 20px;
}
.title {
  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
}
.instructions {
  margin-bottom: 40px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;

  color: var(--priority-desc-text-color);
}
.buttons {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 32px;
  }
  .title {
    margin-bottom: 16px;

    line-height: 1.2;
  }
  .close {
    top: 16px;
    right: 16px;
  }
}
