.label {
  width: 100%;
}

.wrapper {
  display: block;
  position: relative;
}
.input {
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--filter-border-color);
  background-color: transparent;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 18px;
  padding-left: 48px;
  color: var(--filter-text-color);
  transition: border-color var(--transition-dur-and-func);
}
.input::placeholder {
  color: var(--filter-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  background-color: transparent;
}
.input:focus {
  outline: none;
  border-color: var(--filter-text-color);
}
.input:focus + .icon {
  fill: var(--accent-color);
}
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  fill: var(--filter-text-color);
  transition: fill var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .label {
    width: 278px;
  }
  .input::placeholder {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
}
